body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin-top: 150px;
}
  
.calendar-container {
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px black (0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
}

.calendar-header button:hover {
    background-color: blue;
}

h2 {
    margin: 0;
    font-size: 24px;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
    text-align: center;
    padding: 15px;
    border: 1px solid grey;
    cursor: pointer;
    height: 100px;
}

.calendar-table td:hover {
    background-color: white;
}

.booked {
    background-color: pink;
    color: #a00;
}

.booked:hover {
    background-color: pink;
}

.event-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid grey;
    display: none;
    width: 300px;
    box-shadow: 0 4px 8px black(0, 0, 0, 0.1);
}

.event-popup input, .event-popup button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
button, .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
    background-color: pink;
    color: white;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
}